<a href="https://colab.research.google.com/github/Alex-Jung-HB/0627_pythoon_tuple_YB-Jung/blob/main/0627_pythoon_tuple_YB_Jung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬에서 tuple(튜플)은 순서가 있는 불변(immutable) 자료형입니다. 리스트(list)와 비슷하게 여러 개의 값을 저장할 수 있지만, 값을 변경할 수 없습니다.

# 새 섹션

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Length

To determine how many items a tuple has, use the len() function:

In [2]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [3]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types

Tuple items can be of any data type:

In [14]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [23]:
thistuple = tuple(("aplle", "banana", "cherry"))  # tup;e(): 함수호출, 내부괄효는 자료형 문장구조
print(thistuple)

('aplle', 'banana', 'cherry')